## **Lab 4 - Linear Regression vs. Naive Bayes**
### S Kailash 18MIS1074 
### SWE4012 Machine Learning (L11+L12)
### Faculty : Dr. M Premlatha
### Date : 8th February 2022

In [35]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

In [36]:
df=pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

## Here, I will be using the LabelEncoder() function.

In [37]:
le=LabelEncoder()
label=le.fit_transform(df['Purchased'])
label
df.drop("Purchased",axis=1,inplace=True)
df["Purchased"] = label
#we dont want nan values, so lets drop them.
df.dropna(axis=0,how='any',thresh=None,inplace=True)
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

## Apply Linear Regression and Naive Bayes to compare them
### Let us start with Linear Regression first.

In [38]:
#now, apply linear regression and naive bayes and compare em
#lets do LR first
regress = linear_model.LinearRegression()

train_x = np.asanyarray(df[['Salary']])
train_y = np.asanyarray(df[['Age']])

regress.fit (train_x,train_y)

test_y = np.asanyarray(df[['Age']])
test_y_predicted = regress.predict(train_x)
y_predicted = regress.predict(train_y)
for i in range(0,len(train_x)):
    print(train_y[i],y_predicted[i])
print(y_predicted)
print("R2-score : %2f (RMSE)",r2_score(test_y,test_y_predicted))

[44.] [-4.3736105]
[27.] [-4.38482076]
[30.] [-4.38284248]
[38.] [-4.37756706]
[35.] [-4.37954535]
[48.] [-4.37097279]
[50.] [-4.36965394]
[37.] [-4.37822649]
[[-4.3736105 ]
 [-4.38482076]
 [-4.38284248]
 [-4.37756706]
 [-4.37954535]
 [-4.37097279]
 [-4.36965394]
 [-4.37822649]]
R2-score : %2f (RMSE) 0.965296622358501

## Now, Let us do Naive Bayes.

In [42]:
X=df.iloc[:,[1,2,3]].values
y=df.iloc[:,-1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [43]:
classifier = MultinomialNB()
classifier.fit(X_train, y_train)
y_pred=classifier.predict(X_test)
y_pred
ac = accuracy_score(y_test,y_pred)
print('Accuracy',ac)

Accuracy 0.5

### As we can see, linear regression has an R<sup>2</sup> score higher than the accuracy of Naive Bayes (0.96 vs 0.5). Therefore, we conclude that Linear Regression performs better in this use case.